In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import scipy
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
sns.set()

In [2]:
data = pd.read_csv('Fish.csv')

In [3]:
data.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    398.326415   26.247170   28.415723   31.227044    8.970994    4.417486
std     357.978317    9.996441   10.716328   11.610246    4.286208    1.685804
min       0.000000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     120.000000   19.050000   21.000000   23.150000    5.944800    3.385650
50%     273.000000   25.200000   27.300000   29.400000    7.786000    4.248500
75%     650.000000   32.700000   35.500000   39.650000   12.365900    5.584500
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [4]:
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [5]:
y = data["Length3"]
x1 =data[['Weight',"Length1","Height","Width"]]

In [6]:
x = sm.add_constant(x1)
results =sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                Length3   R-squared:                       0.997
Model:                            OLS   Adj. R-squared:                  0.997
Method:                 Least Squares   F-statistic:                 1.385e+04
Date:                Thu, 21 Apr 2022   Prob (F-statistic):          9.66e-196
Time:                        09:56:08   Log-Likelihood:                -146.85
No. Observations:                 159   AIC:                             303.7
Df Residuals:                     154   BIC:                             319.0
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0778      0.251      0.310      0.757      -0.418       0.574
Weight        -0.0008      0.000     -1.907      0.058      -0.002    2.75e-05
Length1        1.1476      0.014     84.367      0.000       1.121       1.174
Height         0.5012      0.020     25.017      0.000       0.462       0.541
Width         -0.7161      0.079     -9.095      0.000      -0.872      -0.561
==============================================================================
Omnibus:                        0.462   Durbin-Watson:                   0.842
Prob(Omnibus):                  0.794   Jarque-Bera (JB):                0.528
Skew:                           0.125   Prob(JB):                        0.768
Kurtosis:                       2.870   Cond. No.                     2.75e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.75e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# Creating dummy variables for categorical data

In [7]:
raw_data = pd.read_csv('Fish.csv')

In [8]:
data1 = raw_data.copy()

In [9]:
data1

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [10]:
data1["Species"] = data1["Species"].map({'Smelt':0,'Bream':1,'Pike':2,'Perch':3,'Roach':4,'Whitefish':5,'Parkki':6})

In [11]:
data1

     Species  Weight  Length1  Length2  Length3   Height   Width
0          1   242.0     23.2     25.4     30.0  11.5200  4.0200
1          1   290.0     24.0     26.3     31.2  12.4800  4.3056
2          1   340.0     23.9     26.5     31.1  12.3778  4.6961
3          1   363.0     26.3     29.0     33.5  12.7300  4.4555
4          1   430.0     26.5     29.0     34.0  12.4440  5.1340
..       ...     ...      ...      ...      ...      ...     ...
154        0    12.2     11.5     12.2     13.4   2.0904  1.3936
155        0    13.4     11.7     12.4     13.5   2.4300  1.2690
156        0    12.2     12.1     13.0     13.8   2.2770  1.2558
157        0    19.7     13.2     14.3     15.2   2.8728  2.0672
158        0    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [12]:
data1.describe()

,Species,Weight,Length1,Length2,Length3,Height,Width
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,2.597484,398.326415,26.247170,28.415723,31.227044,8.970994,4.417486
std,1.591590,357.978317,9.996441,10.716328,11.610246,4.286208,1.685804
min,0.000000,0.000000,7.500000,8.400000,8.800000,1.728400,1.047600
25%,1.000000,120.000000,19.050000,21.000000,23.150000,5.944800,3.385650
50%,3.000000,273.000000,25.200000,27.300000,29.400000,7.786000,4.248500
75%,3.000000,650.000000,32.700000,35.500000,39.650000,12.365900,5.584500
max,6.000000,1650.000000,59.000000,63.400000,68.000000,18.957000,8.142000

In [13]:
x1 = data1[['Weight','Width','Species']]
y = data1['Height']

In [14]:
x = sm.add_constant(x1)
result = sm.OLS(y,x).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Height   R-squared:                       0.655
Model:                            OLS   Adj. R-squared:                  0.648
Method:                 Least Squares   F-statistic:                     98.03
Date:                Thu, 21 Apr 2022   Prob (F-statistic):           1.27e-35
Time:                        09:56:10   Log-Likelihood:                -371.95
No. Observations:                 159   AIC:                             751.9
Df Residuals:                     155   BIC:                             764.2
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.9777      0.785      1.246      0.215      -0.572       2.528
Weight        -0.0006      0.001     -0.434      0.665      -0.003       0.002
Width          2.1304      0.279      7.630      0.000       1.579       2.682
Species       -0.4568      0.139     -3.286      0.001      -0.731      -0.182
==============================================================================
Omnibus:                       31.431   Durbin-Watson:                   0.172
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               14.472
Skew:                           0.552   Prob(JB):                     0.000720
Kurtosis:                       2.017   Cond. No.                     2.17e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.17e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""